#####################################################
#              TERRAFORM                            #
#####################################################
/Terraform/Simple_Application/.terraform
/Terraform/Simple_Application/module/ASG/user_data.sh
/Terraform/Simple_Application/.terraform.lock.hcl
/Terraform/Simple_Application/Key for user.txt
Terraform/Simple_Application/Key for user.txt.bak

Terraform/\[AWS\]-GlueJob-DynamoDBtoSnowflakeMigration/.terraform.lock.hcl
Terraform/\[AWS\]-GlueJob-DynamoDBtoSnowflakeMigration/.terraform/providers/registry.terraform.io/hashicorp/aws/4.47.0/windows_amd64/terraform-provider-aws_v4.47.0_x5.exe
Terraform/\[AWS\]-GlueJob-DynamoDBtoSnowflakeMigration/.tfstate
Terraform/\[AWS\]-GlueJob-DynamoDBtoSnowflakeMigration/.terraform/terraform.tfstate
Terraform/\[AWS\]-GlueJob-DynamoDBtoSnowflakeMigration/.tfstate.backup
Terraform/\[AWS\]-GlueJob-DynamoDBtoSnowflakeMigration/S3Bucket_files/email-export-lambda.zip

Terraform/B2B-Serverless-Infrastructure/AWS/bst-admin/.terraform.lock.hcl
Terraform/B2B-Serverless-Infrastructure/AWS/bst-admin/.terraform/*
Terraform/B2B-Serverless-Infrastructure/AWS/bst-admin/Key for user.txt
Terraform/B2B-Serverless-Infrastructure/AWS/bst-backend/.terraform.lock.hcl
Terraform/B2B-Serverless-Infrastructure/AWS/bst-backend/.terraform/*
Terraform/B2B-Serverless-Infrastructure/AWS/bst-backend/Key for user.txt
Terraform/B2B-Serverless-Infrastructure/AWS/bst-backend/S3Bucket_files/lambda-mach.zip
Terraform/B2B-Serverless-Infrastructure/AWS/bst-frontend/.terraform.lock.hcl
Terraform/B2B-Serverless-Infrastructure/AWS/bst-frontend/.terraform/*
Terraform/B2B-Serverless-Infrastructure/AWS/bst-frontend/Key for user.txt

#####################################################
#                ANSIBLE                            #
#####################################################
Ansible/Deploy_MongoDB/.terraform
Ansible/Deploy_MongoDB/terraform.tfstate.backup
Ansible/Deploy_MongoDB/terraform.tfstate
Ansible/Deploy_MongoDB/module/EC2/Ansible.pem
Ansible/Deploy_MongoDB/Key for user.txt
Ansible/Deploy_MongoDB/.terraform.lock.hcl

Ansible/Simple_Example/.terraform
Ansible/Simple_Example/module/EC2/Ruslan-key-Ohio-TASK22.pem
Ansible/Simple_Example/.terraform.lock.hcl

#####################################################
#                  AWS                              #
#####################################################
AWS/CodePipeline-CodeDeploy/appspec.yaml
AWS/CodePipeline-CodeDeploy/aws_cli_commands.txt
AWS/CodePipeline-CodeDeploy/CloudFormation.yaml
AWS/CodePipeline-CodeDeploy/policy.json

#####################################################
#                KUBERNETES                         #
#####################################################
Kubernetes/NGINXIngress-FlaskApp-MongoDB/.vagrant/*

