/Practice
/Example
/.terraform

# /terraform.tfvars
/Key for user.txt

/S3Bucket_files
/user_data.sh
/key_for_bastion.sh
/.terraform.lock.hcl
/terraform.tfstate.backup

/vpc/.terraform
/vpc/.terraform.lock.hcl

/security_group/.terraform
/security_group/.terraform.lock.hcl

/S3/.terraform
/S3/.terraform.lock.hcl

/RDS/.terraform
/RDS/.terraform.lock.hcl

/Route53/.terraform
/Route53/.terraform.lock.hcl

/ASG/.terraform
/ASG/.terraform.lock.hcl
/module/ASG/user_data.sh
#/module/ASG/user_data.sh.tftpl

/EC2/.terraform
/EC2/.terraform.lock.hcl
/module/EC2/key_for_bastion.sh